<div class="input-group">
    <span class="input-group-btn">
        <button (click)="cambiarValor(-5)" [ngClass]="button" type="button">
            <i class="fa fa-minus"></i>
        </button>
    </span>

    <input [(ngModel)]="progreso" [ngClass]="{'is-invalid' : progreso >=100 || progreso <= 0}" (ngModelChange)="onchange($event)" type="text" class="form-control" placeholder="Product name">

    <span class="input-group-btn">
        <button (click)="cambiarValor(5)" [ngClass]="button" type="button">
            <i class="fa fa-plus"></i>
        </button>
    </span>

    
</div>
